nav#nav-bar {
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  right: 0;
  left: 0;
  top: 0;
  padding: 0 2rem;
  z-index: 2;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 2.45;
}

#nav-bar button.compose {
  float: right;
  padding: 20px;
  border-radius: 5px;
  font-size: 19px;
  margin: 9px;
  border-style: solid;
  border-color: black;
  color: #08a087;
  filter: opacity(80%);
}

#nav-bar button.compose:hover {
  color: black;
  filter: opacity(100%);
  cursor: pointer;
}
